@page
@model RazorPagesSchool.Pages.Schools.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.School[0].SchoolName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.School[0].Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.School[0].MHA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.School[0].MSHCM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.School[0].Tuition)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.School) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SchoolName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MHA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MSHCM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tuition)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
